body {
    font-family: 'Open Sans', sans-serif;
}

#game-window-and-controls-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

#gameplay-window-total {
    width: 100%;
    flex: 3 3 auto;
}

#game_window {
    height:100%;
}

/* #parameter-control-box {
    width: 10%;
    height: 100%;
    flex: 1 1 auto;
    padding: 20px;
} */

.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}

.settings label       { text-align:right; }

.settings label:after { content: ":"; }

#submit-button {
    margin-top: 3vh;
}